@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Test ViewBag</h1>
<p>Name: @ViewBag.Name</p>
<p>Age: @ViewBag.Age</p>
<p>Score: @ViewBag.Score</p>
<h1>Test Model data</h1>
<p>Id: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Age: @Model.Age</p>
<p>Email: @Model.Email</p>